* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 22px;
  font-size: 20px;
}

.container {
  padding-left: 40px;
  padding-right: 40px;
}

.info-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}
